[Match]
Name={{ bridge_interface }}

[Network]
{% for network in networks | dict2items | sort(attribute='value.vlan_id') %}
VLAN={{ network.key }}
{% endfor %}
{% for network in networks | dict2items | sort(attribute='value.vlan_id') %}

[BridgeVLAN]
VLAN={{ network.value.vlan_id }}
{% endfor %}
