plugin rp-pppoe.so
# rp_pppoe_ac 'your ac name'
# rp_pppoe_service 'your service name'

# network interface
{{ wan_interface }}
# login name
name "{{ ppp_username }}"
persist
defaultroute
hide-password
noauth
