##########################################################################################################################################
#ACTION                 SOURCE                  DEST            PROTO   PORT    IPSEC   MARK    USER    SWITCH  ORIGDEST    PROBABILITY
{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
MASQUERADE              {{ "%-23s" | format(item.value.subnet) }} {{ net_interface }}
{% endfor %}
