###############################################################################
#ACTION         SOURCE          DEST            PROTO   DEST            SOURCE
#                                                       PORT(S)         PORT(S)
{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
ACCEPT          {{ "%-15s" | format(item.key) }} -
ACCEPT          -               {{ item.key }}
{% endfor %}
