###############################################################################
#ACTION         SOURCE          DEST            PROTO   DEST            SOURCE
#                                                       PORT(S)         PORT(S)
{% for loc_interface in loc_interfaces %}
ACCEPT          {{ "%-15s" | format(loc_interface) }} -
ACCEPT          -               {{ loc_interface }}
{% endfor %}
