#
# Shorewall -- /etc/shorewall/tcclasses
#
# For information about entries in this file, type "man shorewall-tcclasses"
#
# See http://shorewall.net/traffic_shaping.htm for additional information.
#
###############################################################################
#INTERFACE      MARK    RATE                    CEIL            PRIO    OPTIONS
{{ "%-15s" | format(net_interface) }} 1       full/2:10ms:1540        full            1       tcp-ack
{{ "%-15s" | format(net_interface) }} 3       full/2:10ms:1540        full/2          2       default

{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
{{ "%-15s" | format(item.key) }} 2       full*9/10:10ms:1540     full*9/10       1       tcp-ack
{{ "%-15s" | format(item.key) }} 3       115mbit:10ms:1540       224mbit         2       default
{% endfor %}
