interface=lo
{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
interface={{ item.key }}
{% endfor %}

domain={{ default_domain }}
{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
domain={{ item.values.domain_name | default(item.key) }},{{ item.value.subnet }},local
{% endfor %}

dhcp-authoritative
dhcp-fqdn

{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
dhcp-range=interface:{{ item.key }},{{ item.value.subnet | ipaddr(100) | ipaddr('address') }},{{ item.value.subnet | ipaddr(200) | ipaddr('address') }},{{ item.value.subnet | ipaddr('netmask') }},1h
{% endfor %}

{% for item in networks | dict2items | sort(attribute='value.vlan_id') %}
dhcp-option=interface:{{ item.key }},option:router,{{ item.value.subnet | ipaddr(1) | ipaddr('address') }}
dhcp-option=interface:{{ item.key }},option:dns-server,{{ item.value.subnet | ipaddr(1) | ipaddr('address') }}
dhcp-option=interface:{{ item.key }},option:domain-name,{{ item.values.domain_name | default(item.key) }}
dhcp-option=interface:{{ item.key }},option:domain-search,{{ item.values.domain_search | default(item.values.domain_name) | default(item.key) }}
{% endfor %}
