cache-size=1000

dnssec
dnssec-check-unsigned
conf-file=/usr/share/dnsmasq/trust-anchors.conf

domain-needed
bogus-priv

no-resolv
expand-hosts
localise-queries

{% for upstream in upstream_servers %}
server={{ upstream }}
{% endfor %}

{% if 'traefik' in hostvars %}
address=/.{{ external_domain }}/{{ hostvars['traefik']['ansible_default_ipv4']['address'] }}
{% endif %}
