listen-address=::1,127.0.0.1,{{ internal_network | ipaddr('1') | ipaddr('address') }}

log-queries
cache-size=1000

conf-file=/usr/share/dnsmasq/trust-anchors.conf
dnssec
dnssec-check-unsigned

domain-needed
bogus-priv

no-resolv
expand-hosts

server=::1#5353
server=127.0.0.1#5353
